*.svn
*~
.DS_Store
ThumbsDB
\#*#
.#*
*.py[cod]
__pycache__
/node_modules/
/.idea/

# django stuff
/server/db.sqlite3
/server/.virtualenv/
/server/media/
/server/assets-collected/

# node
/webpack-stats.json
/npm-debug.log
/.npmrc
