*.svn
*~
.DS_Store
ThumbsDB
\#*#
.#*
*.py[cod]
__pycache__
/node_modules/
/.idea/

# django stuff
/db.sqlite3
/server/.virtualenv/
/server/media/
/server/static-collected/

# node
/.webpack-stats.json
/npm-debug.log
/.npmrc
