# copy file to .npmrc and override defaults from package.json
# djangoreact:wagtail-port = 8000
# djangoreact:render-port = 8001
# djangoreact:webpack-port = 8002
# djangoreact:api-base-path = "myapi/"
# djangoreact:api-pages-path = "pages"
# djangoreact:admin-base-path = "cms-admin/"
# djangoreact:virtualenv-dir = "/foo/bar/virtualenv/"
# djangoreact:static-root = "/srv/www/public"
# djangoreact:media-root = "server/media"
