.navbar
  .navbar-brand
    color: darken($gray-lightest, 15%)

    &:hover
      color: $gray-lightest

  .nav-link, .navbar-brand, .navbar-brand .react, .dropdown-item
    transition: color $duration
