.page-content
  text-shadow: 0 1px 0 white

  // rich text
  @extend .py-5

  h1
    @extend .mb-4

  h2
    @extend .mb-3

  h3
    @extend .mb-2

  h4
    @extend .mb-1

  .rich-text img
    @extend .img-fluid

  .richtext-image, .img-fluid
    @extend .mb-3, .img-fluid

  .richtext-image, .img-fluid, .figure
    &.left, &.float-left
      @extend .float-left, .mr-4

    &.right, &.float-right
      @extend .float-right, .ml-4

  .figure
    $bg-color: rgba(255, 255, 255, 0.3)
    border: 6px solid $bg-color
    border-radius: 6px
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.07)

    img
      @extend .mb-0

    figcaption
      background-color: $bg-color

  // page fade animation
  $fade-duration: $duration

  > div
    position: relative

    .page-fade-leave
      position: absolute
      top: 0
      left: 0
      opacity: 1

      &.page-fade-leave-active
        opacity: 0.01
        transition: opacity $fade-duration

    .page-fade-enter
      opacity: 0.01

      &.page-fade-enter-active
        opacity: 1
        transition: opacity $fade-duration
